<tr>
  <td><%= @listing[:scheduled_time] %></td>
  <td><%= @listing[:origin] %></td>
  <td><%= @listing[:destination] %></td>
  <td><%= @listing[:trip] %></td>
  <td><%= @listing[:track] %></td>
  <td><%= @listing[:status] %></td>
</tr>
