<tr>
  <td><%= epoch_to_local(@listing["ScheduledTime"]) %></td>
  <td><%= @listing["Origin"] %></td>
  <td><%= @listing["Destination"] %></td>
  <td><%= @listing["Trip"] %></td>
  <td><%= @listing["Track"] %></td>
  <td><%= @listing["Status"] %></td>
</tr>
